<script id="tmpl-nf-field-submit" type="text/template">

	<# if( data.formID == 2 ) { #>	
			<!-- condition for funnel klodian -->

		<div class="row-of-buttons">

		<!-- <button class="btn btn-text nf-previous">Zurück</button> -->

		<input id="nf-field-{{{ data.id }}}" class=" {{{ data.renderClasses() }}} nf-element btn" type="button" value="{{{ data.label }}}" {{{ ( data.disabled ) ? 'disabled' : '' }}}>
	</div>
	<# } #>

	<# if( data.formID == 3 ) { #>	
			<!-- condition for funnel simone -->

		<div class="row-of-buttons">
	
			<input id="nf-field-{{{ data.id }}} funnel1_summary" class=" {{{ data.renderClasses() }}} nf-element btn submitbutton" type="button" value="{{{ data.label }}}" {{{ ( data.disabled ) ? 'disabled' : '' }}}>
		</div>

	<# } #>

</script>