<script id="tmpl-nf-field-textbox" type="text/template">

	<!-- adding the results pillbar in the autocomplete funnel onboarding -->
	          <# if (( data.id == 295 ) || ( data.id == 38 ) || ( data.id == 389 )) { #>

	<input
			type="text" 
			value="{{{ data.value }}}"
			class="{{{ data.renderClasses() }}} nf-element"
			{{{ data.renderPlaceholder() }}}
			{{{ data.maybeDisabled() }}}
			{{{ data.maybeInputLimit() }}}

			id="nf-field-{{{ data.id }}}"
			<# if( ! data.disable_browser_autocomplete && -1 < [ 'city', 'zip' ].indexOf( data.type ) ){ #>
				name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
				autocomplete="on"
			<# } else { #>
				name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
				{{{ data.maybeDisableAutocomplete() }}}
			<# } #>

			aria-invalid="false"
			aria-describedby="nf-error-{{{ data.id }}}"
			aria-labelledby="nf-label-field-{{{ data.id }}}"

			{{{ data.maybeRequired() }}}
	>
	<ul class="results">

	</ul>	              
	
<!-- create a div named accordion, with no content  -->
<div class="accordion" id="accordion">
	
	<div id="message"></div>
  
	 <div class="farmacia_section" id="farmacia_section">
  
  <!-- create ul li list  -->
  <ul class="farmacia_list" id="farmacia_list">
  
  </ul>
  <div id="accordionbottom"></div>
  </div>
	

	<# } else { #>

				   <input
				   type="text" 
				   value="{{{ data.value }}}"
				   class="{{{ data.renderClasses() }}} nf-element"
				   {{{ data.renderPlaceholder() }}}
				   {{{ data.maybeDisabled() }}}
				   {{{ data.maybeInputLimit() }}}
	   
				   id="nf-field-{{{ data.id }}}"
				   <# if( ! data.disable_browser_autocomplete && -1 < [ 'city', 'zip' ].indexOf( data.type ) ){ #>
					   name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
					   autocomplete="on"
				   <# } else { #>
					   name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
					   {{{ data.maybeDisableAutocomplete() }}}
				   <# } #>
	   
				   aria-invalid="false"
				   aria-describedby="nf-error-{{{ data.id }}}"
				   aria-labelledby="nf-label-field-{{{ data.id }}}"
	   
				   {{{ data.maybeRequired() }}}
		   >
		   <# }  #>

		  
</script>
