<script id="tmpl-nf-field-checkbox" type="text/template">
	
	<label> 
        <input id="nf-field-{{{ data.id }}}" 
		name="nf-field-{{{ data.id }}}"
		aria-describedby="nf-error-{{{ data.id }}}"
		class="{{{ data.renderClasses() }}} nf-element checkbox_funnel"
		type="checkbox"
		value="1" {{{ data.maybeDisabled() }}}{{{ data.maybeChecked() }}}
		aria-labelledby="nf-label-field-{{{ data.id }}}"
		{{{ data.maybeRequired() }}}> 
       <span class="cb-icon"></span> 
      </label>
	  {{{ ( 'undefined' != typeof data.required && 1 == data.required ) ? '<span class="ninja-forms-req-symbol">*</span>' : '' }}}
	<!-- <input id="nf-field-{{{ data.id }}}"
	       name="nf-field-{{{ data.id }}}"
	       aria-describedby="nf-error-{{{ data.id }}}"
	       class="{{{ data.renderClasses() }}} nf-element checkbox_funnel"
	       type="checkbox"
	       value="1" {{{ data.maybeDisabled() }}}{{{ data.maybeChecked() }}}

			{{{ data.maybeRequired() }}}
	>
	<label class="checkbox_funnel" aria-labelledby="nf-label-field-{{{ data.id }}}">

</label> -->


</script>
