<script id="tmpl-nf-field-submit" type="text/template">

	<# if( data.formID == 2 ) { #>	
			<!-- condition for funnel klodian -->

		<div class="row-of-buttons">

		<!-- <button class="btn btn-text nf-previous">Zurück</button> -->

		<input id="nf-field-{{{ data.id }}}" class=" {{{ data.renderClasses() }}} nf-element btn" type="button" value="{{{ data.label }}}" {{{ ( data.disabled ) ? 'disabled' : '' }}}>
	</div>
	<# } #>

	<# if(( data.formID == 23 ) || ( data.formID == 20 )) { #>	
			<!-- condition for funnel profile and register -->

		<div class="row-of-buttons">
	
			<input id="nf-field-{{{ data.id }}} funnel1_summary" class=" {{{ data.renderClasses() }}} nf-element btn submitbutton" type="button" value="{{{ data.label }}}" {{{ ( data.disabled ) ? 'disabled' : '' }}}>
		</div>

	<# } #>

	<# if( data.formID == 21 ) { #>	
		<!-- condition for funnel login  -->

	<div class="row-of-buttons">

		<input id="nf-field-{{{ data.id }}} funnel1_summary" class=" {{{ data.renderClasses() }}} nf-element btn submitbutton" type="button" value="{{{ data.label }}}" {{{ ( data.disabled ) ? 'disabled' : '' }}}>
	
		<br><br><br>or <a href="/register">register</a>|||||| <br><br><br><br><a href="/register">forgot password???!?!?!!?!</a> </div>

<# } #>

</script>